node_modules
dist
build
.git
.github
.husky
.vscode
.idea
coverage
*.md
*.log
.env
.env.*
!.env.example
docker-compose*.yml
.dockerignore
.prettierrc
.prettierignore
.lintstagedrc.json
eslint.config.mjs
